/* Reset some default styles */
 h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  position: absolute;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: #eee;
  min-height: 100%;
  color: #fffs;
  //@include background-image(radial-gradient(center, #eee 0%,#bbb 100%));
  background-image: url('http://isaacsuttell.com/img/justine.jpg');
  background-size: cover;
  background-position: center;
  font-family: Raleway, sans-serif;

  margin: 0;
  padding: 0;

  //font-family: Arial, sans-serif;
  //background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}


//body {
//  font-family: Arial, sans-serif;
//  background-color: #f5f5f5;
//  color: #333;
//  line-height: 1.6;
//}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

#container canvas, #overlay {
  position: absolute;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px 0;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

.hero-content {
  text-align: center;
  positionL absolute;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.section-content {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
 
}